<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Mon Panier</ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullsccreen>
  <ion-list>
    <!-- 'i' correspon a l'index de chaque element dans le panier
    lors de la suppression d'un element on se sert de celui-ci -->
    <button ion-item *ngFor="let article of cartItems; let i = index">
      <ion-thumbnail item-left>
        <img [src]="article.item.picture[0]" #picture (click)="showImage(picture, $event)">
      </ion-thumbnail>
      <h2>{{ article.item.title }}</h2> 
      <p>
        <ion-badge color="secondary">{{ article.qty }}</ion-badge> x {{ article.item.price | currency}}
      </p>
      <p *ngIf="article.item.availability.feed">Livraison : {{ article.item.availability.feed }}</p>
      <p>Total : {{ ((article.qty*article.item.price)+article.item.availability.feed) | currency}}</p>
      <button ion-button>
        <ion-icon name="mail"> </ion-icon>&nbsp;
        Contacter 
      </button>
      <button (click)="removeItem(article, i)" ion-button item-right icon-only clear color="danger">
        <ion-icon name="remove-circle"></ion-icon>
      </button>
    </button>
  </ion-list>
</ion-content>
 
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="closeModal()">Fermer</button>
      </ion-col>
      <ion-col>
        <button ion-button block outline>Panier : {{ total | currency }}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
