page-details {
    ion-card{
        width : 100vw !important;
        margin : auto !important; 
    }
    .myImg{
        width : 70%;
        margin :auto;
    }
    .iconYellow{
        color: #f4e242; 
     }
}
